<div
  class="group flex flex-col text-center text-neutral-700 bg-white rounded-md p-4 shadow-lg hover:shadow-xl transition-all relative"
>
  <div class="absolute right-1 top-1" #OptionsMenu>
    <button
      type="button"
      class="opacity-25 group-hover:opacity-100"
      (click)="handleToggleShowOptions()"
    >
      <fa-icon [icon]="ICONS.options" [fixedWidth]="true" [size]="'1x'" />
    </button>
    <app-context-menu
      [isShown]="!!(showContextMenu$ | async)"
      [user]="user()"
      (kickUserEvent)="handleKick($event)"
      (closeContextMenu)="handleToggleShowOptions(false)"
    ></app-context-menu>
  </div>
  <div>
    <fa-icon
      [icon]="ICONS.userCircle"
      [fixedWidth]="true"
      [size]="'5x'"
      class=""
    />
  </div>
  <div class="mt-4">
    {{ user().name }}
  </div>
</div>
