<div class="flex gap-4 justify-between sm:justify-end">
  <button
    type="button"
    class="text-neutral-600 hover:bg-neutral-200 transition-all px-4 py-2 rounded-md"
  >
    <fa-icon [icon]="ICONS.eye" [fixedWidth]="true" />
    Become a spectator
  </button>
  <button
    type="button"
    class="text-red-500 hover:bg-red-500/50 hover:text-neutral-900 transition-all px-4 py-2 rounded-md"
  >
    <fa-icon [icon]="ICONS.rightToBracket" [fixedWidth]="true" />
    Leave room
  </button>
</div>
