<div class="flex flex-wrap gap-2 sm:gap-4 justify-between sm:justify-end">
  @if (isSpectator) {
  <app-tooltip text="Become a voter">
    <button
      type="button"
      class="btn-minimal h-10 w-10 inline-flex items-center justify-center text-sm sm:text-base"
      aria-label="Become a voter"
      (click)="becomeVoter()"
    >
      <fa-icon [icon]="ICONS.userCircle" [fixedWidth]="true" />
    </button>
  </app-tooltip>
  } @else {
  <app-tooltip text="Become a spectator">
    <button
      type="button"
      class="btn-minimal h-10 w-10 inline-flex items-center justify-center text-sm sm:text-base"
      aria-label="Become a spectator"
      (click)="becomeSpectator()"
    >
      <fa-icon [icon]="ICONS.mugHot" [fixedWidth]="true" />
    </button>
  </app-tooltip>
  }
  @if (notificationMessage) {
    <div aria-live="polite" class="fixed bottom-4 right-4 sm:bottom-6 sm:right-6 left-4 sm:left-auto bg-neutral-900 text-white px-3 py-2 sm:px-4 rounded-md shadow-md z-50 text-sm sm:text-base">
      {{ notificationMessage }}
    </div>
  }
  <app-tooltip text="Leave room">
    <button
      type="button"
      class="h-10 w-10 inline-flex items-center justify-center rounded-md text-sm sm:text-base bg-red-600 text-white hover:bg-red-700 transition-all"
      aria-label="Leave room"
      (click)="leaveRoom()"
    >
      <fa-icon [icon]="ICONS.rightToBracket" [fixedWidth]="true" />
    </button>
  </app-tooltip>
</div>
