@if(isShown()) {
<div
  class="absolute top-full mt-1 right-0 z-40 surface-panel rounded-md w-auto min-w-0 max-w-[min(16rem,calc(100vw-2rem))] sm:max-w-none sm:text-nowrap shadow-md overflow-hidden text-sm sm:text-base"
  #ContextMenu
>
  <ul>
    <li class="hover:bg-neutral-100">
      @if(user().role === 'voter' || user().role === 'admin') {
      <button
        type="button"
        class="w-full px-4 py-2 text-left"
        (click)="handleToggleVotter($event, false)"
      >
        <fa-icon [icon]="ICONS.mugHot" [fixedWidth]="true" /> Turn as spectator
      </button>
      } @else {
      <button
        type="button"
        class="w-full px-4 py-2 text-left"
        (click)="handleToggleVotter($event, true)"
      >
        <fa-icon [icon]="ICONS.rightToBracket" [fixedWidth]="true" /> Turn as voter
      </button>
      }
    </li>
    @if(user().role !== 'admin' && user().role !== 'admin_spectator'){
    <li class="hover:bg-neutral-100">
      <button
        type="button"
        class="w-full px-4 py-2 text-left"
        (click)="handleTurnAdmin($event, user())"
      >
        <fa-icon [icon]="ICONS.handshake" [fixedWidth]="true" />
        Turn as admin
      </button>
    </li>
    } @if(user().role !== 'admin' && user().role !== 'admin_spectator'){
    <li class="hover:bg-red-50 text-red-600">
      <button
        type="button"
        class="w-full px-4 py-2 text-left"
        (click)="handleKick($event, user().id)"
      >
        <fa-icon [icon]="ICONS.rightToBracket" [fixedWidth]="true" />
        Kick from the room
      </button>
    </li>
    }
  </ul>
</div>
}

<app-popup-alert #PopupAlert [showAlert]="!!(showAdminAlert$ | async)">
  <div title>Hey, look out!</div>
  <div body class="flex flex-col text-center">
    <div class="text-red-600 my-4">
      <fa-icon [icon]="ICONS.exclamation" [fixedWidth]="true" [size]="'3x'" />
    </div>
    <div class="mb-4 text-lg">
      Only one person can be administrator of this room<br />
      If you turn {{ user().name }} as admin, you will immediately lose your
      administrator rights
    </div>
    <div class="mb-4 text-xl">Are you sure about this?</div>
  </div>
  <div actions class="flex gap-4">
    <button
      type="button"
      class="btn-minimal w-full h-16 font-bold"
      (click)="handleCancelTurnAdmin($event)"
    >
      <fa-icon
        [icon]="ICONS.xmark"
        [fixedWidth]="true"
        [size]="'1x'"
        class=""
      />
      No, cancel!
    </button>
    <button
      type="button"
      class="w-full h-16 rounded-lg transition-all font-bold bg-red-600 text-white hover:bg-red-700"
      (click)="handleConfirmTurnAdmin($event)"
    >
      <fa-icon
        [icon]="ICONS.check"
        [fixedWidth]="true"
        [size]="'1x'"
        class=""
      />
      Yes, I'm sure.
    </button>
  </div>
</app-popup-alert>
