<footer class="text-center leading-2 w-full">
  <div class="container mx-auto">
    <small>Made with ❤️, &lt;/&gt; and ☕.</small>
    <div class="flex gap-2 align-middle justify-center">
      <small
        >Send a donation to help me to keep this project online and free for
        all!</small
      >
      <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="GHM82LRFVH3A6" />
        <input
          type="image"
          src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
          name="submit"
          title="PayPal - The safer, easier way to pay online!"
          alt="Donate with PayPal button"
        />
        <img
          alt=""
          src="https://www.paypal.com/en_BR/i/scr/pixel.gif"
          width="1"
          height="1"
        />
      </form>
    </div>
  </div>
</footer>
